<h4>Vendors</h4>
<a href="/vendors/new" class="btn btn-success">New</a>
<table class="table table-striped table-hover mt-3">
    <thead>
        <tr class="table-danger">
            <th class="w-25">Name</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
        {{#each vendors}}
            <tr>
                <td><a href='/vendors/view/{{vendorID}}'>{{name}}</a></td>
                <td>{{website}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>