<h4>{{platform.name}} edit</h4>
<form method="POST" action="/platforms/edit">
    {{#with platform}}
        <div class="mb-2">
            <input type="hidden" id="platformID" name="platformID" value="{{platformID}}" />
            <label class="form-label" for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value='{{name}}' />
        </div>

        <div class="mb-2">
            <label class="form-label" for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" value='{{description}}' />
        </div>
    {{/with}}
    <input type="submit" value="Submit" class="btn btn-warning" />
    <a href="/platforms" class="btn btn-secondary">Cancel</a>
</form>