<h4>New platform</h4>
<form method="POST" action="/platforms/new">
    <div class="mb-2">
        <label class="form-label" for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value='{{name}}' />
    </div>

    <div class="mb-2">
        <label class="form-label" for="website">Description</label>
        <input type="text" class="form-control" id="description" name="description" value='{{description}}' />
    </div>
    <input type="submit" value="Submit" class="btn btn-warning"/>
    <a href="/platforms" class="btn btn-secondary">Cancel</a>
</form>